<nav class="navbar navbar-expand navbar-dark bg-dark px-2">
    <div class="side-nav-button p-2 me-3 text-light" (click)="ShowhideSidebar()">
        <i class="fa-solid fa-bars" >  </i>
    </div>  
    <a class="navbar-brand px-4" href="#">Angular Pratice</a>
<div class="navbar-collapse">
    <ul class="navbar-nav me-auto">
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button"
            data-bs-toggle="dropdown">Menu</a>
            <ul class="dropdown-menu dropdown-menu-dark">
                <li><a href="#" class="dropdown-item">Child 1</a> </li>
                <li><a href="#" class="dropdown-item">Child 2</a> </li>
                <li><a href="#" class="dropdown-item">Child 3</a> </li>
            </ul>
        </li>
    </ul>

</div>
<div><a [routerLink]="'Contact'" [fragment]="'Contact'" class="nav-link menu-list-item " >Contact</a> </div>
<!--<div><a [routerLink]="'FeedBack'" class="nav-link menu-list-item ">FeedBack</a> </div>-->
<div><a [routerLink]="'About'"  [fragment]="'About'" class="nav-link menu-list-item ">About</a> </div>
<form class="d-flex me-5">
    <input class="form-control me-2" type="search" placeholder="search">
    <button class="btn btn-outline-light" type="submit">Search</button>
</form>
<div class="profile=logo dropstart">
    <button class="btn btn-outline-light dropdown-toggle" data-bs-toggle="dropdown">
        Boopathi 
    </button>
    <ul class="dropdown-menu dropdown-menu-dark">
<li><a href="#" class="dropdown-item">Sign-up</a></li>
<li><a href="#" class="dropdown-item">Sign-In</a></li>
<li><a href="#" class="dropdown-item">your Profile</a></li>
<li><a href="#" class="dropdown-item">Sign-out</a></li>
    </ul>
</div>
</nav>