
<div class="row">
    <div class="col-md-8">
        <div class="row">
            <div class="col-md-12">
                <div class="card-header bg-info"> Shopping card
                    <div class="float-right">

                        <select (change)="filterProducts()" [(ngModel)]="selectedFilter">
                            <option value="title~asc"> Product Name (ASC)</option>
                            <option value="title~desc">Product Name (DESC)</option>
                            <option value="price~asc"> Product Price (ASC)</option>
                            <option value="price~desc">Product Price (DESC)</option>
                        </select>
                    </div>

                </div>
                    <div class="card-body border">
                        <div class="row">
                             <div class="col-xl-4 col-sm-6 col-md-12 " *ngFor="let item of product_collection">
                            <div class="row">
                                <div class="col-12">
                                    <img src="{{item.images[1]}}" title="{{item.id}}"/>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    {{item.title}}
                                </div>
                                <div class="col-md-6">
                                    {{item.price*70|currency:"INR"}}
                                </div>
                            </div>

                            <div  class="row">
                                <div class="col-12">
                                    <button class="btn btn-primary" (click)="addtoCard(item)" >Add to Card</button>
                                </div>
                            </div>
                    
                        </div>
                    </div>
                </div>
             </div>
        </div>

    </div>

    <div class="col-4">
        <div class="row">
            <div class="col-12">
                <table class=" table border ">
                    <tr class="bg bg-info text-white">
                        <th>Product Name</th>
                        <th>Price</th>
                        <th></th>
                        
                    </tr>

                    <tr  *ngFor=" let data of select_Products" appBgcolor>
                        <td>{{data.description}}</td>
                        <td>{{data.price}}</td>
                        <td><button class="btn btn-warning" (click)="removeItem(data)"> Remove</button></td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>